html {
    height: 100%;
}

.bg-dark {
    background-color: #000000!important;
    border-bottom: 2px solid white;
}

.icon-text {
    color: white;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url(../style/dark_grey.jpg);
}

button {
   border-radius: 8px;
   background-color: transparent;
   border: transparent;
   color: white;
}
.sticky-footer {
    background: black;
    color: white;
    margin-top: auto;
    border-top: 2px solid grey;
}

.btn.btn-black {
    background-color: #000000;
}
.portfolio-images {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.nav-link {
    color: #f8f9fa;
}

.form {
    padding: 5px;
}
.navbar {
    color: white;
}
.btn {
    background-color: transparent;
    color: white;
}
.modal {
    color: black;
}
.btn-unique {
    color: black;
}
label {
    color: black;
}


#my-photo {
    border: 2px solid black;
    margin: auto;
    display: block;
}


@media screen and (max-width: 767px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
    }
    .card-body {
        align-items: center;
    }
}

@media (min-width: 100px) {
    h1 {
        text-align: center!important;
    }
}

@media (max-width: 576px) {
    .bio {
        text-align: center;
    }
    .card1 {
        text-align: center;
    }
    .card2 {
        text-align: center;
    }
    .card3 {
        text-align: center;
    }
    .card4 {
        text-align: center;
    }
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
